<!DOCTYPE HTML >
<html>

<div class="lay">
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Web Site Project - Common Layout</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
     ================================================== -->
    <link rel="stylesheet" href={{url_for('static',filename='css/default.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/layout.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/media-queries.css')}}>

    <!-- Script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href={{url_for('static',filename='images/EMC.png')}} >

</head>

<body>

<!-- Header
================================================== -->
<header id="top">

    <div class="row">

        <div class="header-content twelve columns">

            <h1 id="logo-text"><a href="index.html" title="">Keep It Simple.</a></h1>
            <p id="intro">Put your awesome slogan here...</p>

        </div>

    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

        <div class="row">

            <ul id="nav" class="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class="has-children"><a href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Submenu 01</a></li>
                        <li><a href="#">Submenu 02</a></li>
                        <li><a href="#">Submenu 03</a></li>
                    </ul>
                </li>
                <li><a href={{ url_for('demo') }}>Demo</a></li>
                <li><a href="archives.html">Archives</a></li>
                <li class="has-children"><a href="single.html">Blog</a>
                    <ul>
                        <li><a href="blog.html">Blog Entries</a></li>
                        <li><a href="single.html">Single Blog</a></li>
                    </ul>
                </li>
                <li><a href="page.html">Page</a></li>
            </ul> <!-- end #nav -->

        </div>

    </nav> <!-- end #nav-wrap -->

</header> <!-- Header End -->



</body>
</div>

<div class="lay">



   <div id="content-wrap">

      <div class="row section-head">

      	<div class="twelve columns">

	         <h1><b>Hostd issues</b></h1>

	         <p class="lead add-bottom">	         </p>

         </div>                 

      </div> <!-- Row End-->

      <div class="row add-bottom">

      	<hr> 

         <div class="six columns add-bottom">

            <h3>Methods to troubleshoot Hostd issues </h3>

            <p>In this we will discuss about ESXi not responding in vCenter and also inaccessible via direct Client connection(vSphere Client 6/vSphere Web Client 6.5) :</p>
			   
			   <p>
  			   In this scenario, if the ESXi host is pingable over the management network, the most likely cause would be an issue with the 'hostd' daemon on the ESXi host which in turn can also cause issues with the 'vpxa' agent. </br>
The hostd daemon is responsible for handling all kernel related activities and tasks on the ESXi hosts. It leverages vpxa (vCenter agent) to get information to and from vpxd (vCenter daemon) depending on where the task request was initiated from.</br>
The vpxa agent is the agent responsible for communication between the ESXi host and vCenter. It is installed on the ESXi host and is a kind of a middle man between hostd and vpxd. </br>
vCenter related tasks (e.g. cluster related tasks initiated from vCenter) are passed on from vpxd on the vCenter machine on to vpxa and then on to hostd which are both on the ESXi host.</br>
To check the status of hostd, log onto a putty session to the ESXi host in question and type '/etc/init.d/hostd status'</br>
This will return either 'Hostd is running' OR 'Hostd is not running'</p>
<p>Hostd could also appear to be running but could be unstable.
If hostd is showing as running, it may still be alternating between being responsive and unresponsive.</br>
To check whether or not hostd is unstable, type the following command: </br>
&#35; grep &#45;i hostd &#47;var&#47;log&#47;vmkernel.log | less</br>
 The above command will show 'Hostd is detected as being unresponsive' if this is the case.</br>
If you have no access to SSH, you can connect through iDRAC or BMC and press Alt + F11.</br>
This will also show 'Hostd is detected as being unresponsive' </p>

<p>The most likely cause of the hostd daemon becoming unstable or dead would be due to communication issues with the storage or memory issues. It can also be caused by code issues or bugs in the system.</br>
You may also find dump files in /var/core/ or /var/log/</br>
If there are zdump files present, please gather a log bundle and engage VMware Support as we have the tools available to analyse these dump files.</br>
 
When hostd is affected, it is quite a difficult situation to recover from.</br>
Usually the only way of truly recovering from this issue is to Reboot the ESXi host.</br>
(This will not permanently resolve the issue, it will just temporarily clear the symptoms until the underlying issue is rectified) </p>
<p> But there are a few things that you can try.To check if there is a process running for hostd, type the following command on the ESXi command line:</br>
<i>'ps | grep hostd'</i></br> 
This will show you the running process id for hostd </p>

 <p> screenshot-03 </p>
 
 <p>You can attempt to kill this process by typing:</br>
<i>&#35;kill -9 PID </i>(with PID being the process ID returned on the right from the above command *34265*)</br>
 
The above command can be run from any directory.</br>
You can try the kill -9 command against all of the process IDs returned to try to rid of the process</br>
This may spawn a new PID for hostd and its sub-processes and temporarily relieve the host of the issue.</br>
 
This above will not permanently fix this, and if storage/memory/code issues are the problem, then the underlying issue will need to be addressed.</br>
The vmkernel.log, located in /var/log/ on a putty session to the ESXi host, will constantly log error messages if there is a significant issue.</br>
As a result, the vmkernel.log will flood. This, in turn, will put pressure on the hostd daemon causing it to become unstable or stop completely.</br>
You can verify whether or not the customer is experiencing these issues by checking the vmkernel.log</br>
 
To do this, simply type:</br>
<i>'less /var/log/vmkernel.log'</i>
 
<p>Once the issue with the storage had been rectified or the hostd daemon has been returned to a stable state, then the host should be able to connect.</br>
If you are unable to kill the PID of hostd, then you may need to try the following KB:</br>
 <p><a href="https://kb.vmware.com/kb/1007261">Hostd not responding</a> </p>

As mentioned in the above kb, if these do not kill the process then a reboot is the only option. </br>
Before rebooting, gather logs and engage VMware support as we have additional resources available to us such as VMware Engineering and dump decoders which will require logs.You will also need to enter maintenance mode before trying to reboot.  To do this, type the following from the command line: </br>
<i>&#35;localcli system maintenanceMode set -e true -m ensureObjectAccessibility </i>
(esxcli is not functional when there are hostd issues)</br>

Do not reboot the host if the host is not in maintenance mode.
Lets say the host that has issues is cs-vxrail-e2.</br>

I can check which UUID corresponds to this host in CMMDS with the below command:</br>
<i>&#35;cmmds-tool find –t HOSTNAME –f json</i> </p>
<p> screenshot-04 </p>

<p>This will help me to verify the maintenance mode state.</br>
You can check with the following command:</br>
<i>&#35;cmmds-tool find –t NODE_DECOM_STATE –f json</i></p>
<p> screenshot-05 </p>


<p>As we can see above the UUID for host 2 has the following decom info:</br>
decomState": 6, "decomJobType": 1</br>
Whereas the others all have:</br>
decomState": 0, "decomJobType": 0</br>

The decom numbers here represents as follows:</p>
<h3>decomState </h3>
<p>0 &#61; None - the node is not decommissioned </br>
1 &#61; The decommissioning process has been started </br>
3 &#61; The decommissioning process is underway</br>
6 &#61; The node has been decommissioned </p>

<h3>decomJobType</h3>
<p>0 &#61; The node has been decommissioned in the "No Data Migration" mode.</br>
1 &#61; The node has been decommissioned in the "Ensure Accessibility" mode.</br>
2 &#61; The node has been decommissioned in the "Full Data Migration" mode. </p>

<p>
If the host is not in state 6,  you can monitor the progress of the task if it is in state 3 with the above command in the ‘progress’ section. 
If the task fails outright or does gets stuck on a certain percentage for a prolonged period, do not reboot and please engage VMware.</p>


			 </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="six columns add-bottom">

            <h3>Pull Quotes</h3>

            <aside class="pull-quote">
    			   <blockquote>
    				   <p>It is a paradisematic country, in which roasted parts of
                  sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic life One day however a small line of blind text by the name
                  of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    				</blockquote>
    			</aside>

         </div>

         <div class="six columns add-bottom">

            <h3>Block Quotes</h3>

            <blockquote cite="http://where-i-got-my-info-from.com">
   			   <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
               to do what you believe is great work. And the only way to do great work is to love what you do.
               If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
               </p>
   				<cite>
   				   <a href="#">Steve Jobs</a>
   				</cite>
			   </blockquote>

            <blockquote>
               <p>Good design is as little design as possible.</p>
               <cite>Dieter Rams</cite>
            </blockquote>

         </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="eight columns add-bottom">

            <h3 class="add-bottom">Definition Lists</h3>

            <h5>a) Multi-line Definitions (default)</h5>

            <dl>
			      <dt><strong>This is a term</strong></dt>
				      <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			      <dt><strong>Another Term</strong></dt>
				      <dd>And it gets a definition too, which is this line</dd>
				      <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
		      </dl>

            <h5>b) Inline Definitions</h5>

            <dl class="lining">
			      <dt><strong>This is a term</strong></dt>
				      <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			      <dt><strong>Another Term</strong></dt>
				      <dd class="micro">And it gets a definition too, which is this line</dd>
				      <dd class="micro"> this is a 2<sup>nd</sup> definition for a single term.</dd>
			      <dt><strong>Term</strong></dt>
			      <dt><strong>Other Defined Term</strong></dt>
				      <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
		      </dl>

            <h5>c) Dictionary-style Definition</h5>

            <dl class="dictionary-style">
				   <dt><strong>This is a term</strong></dt>
					   <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
					<dt><strong>Another Term</strong></dt>
					   <dd>And it gets a definition too, which is this line</dd>
					   <dd> this is a 2<sup>nd</sup> definition for a single term.</dd>
					<dt><strong>Term</strong></dt>
					<dt><strong>Other Defined Term</strong></dt>
					   <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
				</dl>

         </div>

         <div class="four columns add-bottom">

            <h3>Example Lists</h3>

            <ol>
				   <li>Here is an example</li>
				   <li>of an ordered list</li>
			   </ol>

            <ul class="disc">
				   <li>Here is an example</li>
				   <li>of an unordered list</li>
			   </ul>

            <h3>Stats Tabs</h3>

            <ul class="stats-tabs">
			      <li><a href="#">1,234 <em>Sasuke</em></a></li>
			      <li><a href="#">567 <em>Hinata</em></a></li>
			      <li><a href="#">23,456 <em>Naruto</em></a></li>
			      <li><a href="#">3,456 <em>Kiba</em></a></li>
			      <li><a href="#">456 <em>Shikamaru</em></a></li>
			      <li><a href="#">26 <em>Sakura</em></a></li>
		      </ul>

            <h3>Headers</h3>

            <h1>H1 Heading</h1>
            <h2>H2 Heading</h2>
            <h3>H3 Heading</h3>
            <h4>H4 Heading</h4>
            <h5>H5 Heading</h5>
            <h6>H6 Heading</h6>

            <hr>

            <h3>button</h3>

            <a class="button" href="#">button</a>

         </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="twelve columns add-bottom">

            <h3 class="add-bottom">Pagination</h3>

            <nav class="pagination add-bottom">

               <span class="page-numbers prev inactive">Prev</span>
   	         <span class="page-numbers current">1</span>
   	         <a href="#" class="page-numbers">2</a>
               <a href="#" class="page-numbers">3</a>
               <a href="#" class="page-numbers">4</a>
               <a href="#" class="page-numbers">5</a>
               <a href="#" class="page-numbers">6</a>
               <a href="#" class="page-numbers">7</a>
               <a href="#" class="page-numbers">8</a>
               <a href="#" class="page-numbers">9</a>
   	         <a href="#" class="page-numbers next">Next</a>

		      </nav>

         </div>

         <hr />

      </div> <!-- Row End-->

      <!-- <div class="row add-bottom">

         <div class="twelve columns add-bottom">

            <h3>Form Styles</h3>

            <form>
               <fieldset>

					   <label for="regularInput">Regular Input</label>
						<input type="text" id="regularInput">

                  <label for="regularTextarea">Regular Textarea</label>
						<textarea id="regularTextarea"></textarea>

                  <label for="selectList">Select List</label>
						<select id="selectList">
						   <option value="Option 1">Option 1</option>
							<option value="Option 2">Option 2</option>
							<option value="Option 3">Option 3</option>
							<option value="Option 4">Option 4</option>
						</select>

                  <fieldset>
						   <legend>Checkboxes</legend>

                     <label for="regularCheckbox">
							   <input type="checkbox" value="checkbox 1" id="regularCheckbox">
								<span>Regular Checkbox</span>
							</label>

                     <label for="secondRegularCheckbox">
							   <input type="checkbox" value="checkbox 2" id="secondRegularCheckbox">
								<span>Regular Checkbox</span>
							</label>
						</fieldset>

						<fieldset>
						   <legend>Radio Buttons</legend>

                     <label for="regularRadio">
							   <input type="radio" value="radio 1" id="regularRadio" name="radios">
							   <span>Regular Radio</span>
							</label>

                     <label for="secondRegularRadio">
							   <input type="radio" value="radio 2" id="secondRegularRadio" name="radios">
								<span>Regular Radio</span>
							</label>
						</fieldset>

						<button type="submit">Submit Form</button>

               </fieldset>
				</form>

         </div>

         <hr />

      </div> -->    <!-- Row End-->

      <div class="row">

         <div class="twelve columns">
            <h3 class="half-bottom">Columns</h3>
         </div>

      </div> <!-- Row End-->

      <!--<h4>1/3 Columns</h4>  -->

      <div class="row">

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

      </div>

      <!--<h4>1/4 Columns</h4>  -->

      <div class="row">

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

      </div>

      <!--<h4>1/2 Columns</h4>  -->

      <div class="row">

         <div class="six columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

         <div class="six columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

      </div>

      <!--<h4>2/3 Columns</h4>  -->

      <div class="row">

         <div class="eight columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.</p>
         </div>

         <div class="four columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

      </div>

      <!--<h4>3/4 Columns</h4>  -->

      <div class="row">

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at. </p>
	      </div>

         <div class="nine columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.</p>
	      </div>

      </div> 

   </div> <!-- end content-wrap -->


   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row"> 

      	<div class="twelve columns">	
				<ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>               
               <li><a href="#"><i class="fa fa-github-square"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-flickr"></i></a></li>               
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>			
      	</div>
      	
         <div class="six columns info">

            <h3>About Keep It Simple</h3> 

            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
            nibh id elit. 
            </p>

            <p>Lorem ipsum Sed nulla deserunt voluptate elit occaecat culpa cupidatat sit irure sint 
            sint incididunt cupidatat esse in Ut sed commodo tempor consequat culpa fugiat incididunt.</p>

         </div>

         <div class="four columns">

            <h3>Photostream</h3>
            
            <ul class="photostream group">
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
            </ul>           

         </div>

         <div class="two columns">
            <h3 class="social">Navigate</h3>

            <ul class="navigate group">
               <li><a href="#">Home</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Demo</a></li>
               <li><a href="#">Archives</a></li>
               <li><a href="#">About</a></li>
            </ul>
         </div>

         <p class="copyright">&copy; Copyright 2014 Keep It Simple. &nbsp; Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>
        
      </div> <!-- End row -->

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

   </footer> <!-- End Footer-->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>  
   <script src="js/main.js"></script>
</div>
</html>