<!DOCTYPE HTML >
<html>

<div class="lay">
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Web Site Project - Common Layout</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
     ================================================== -->
    <link rel="stylesheet" href={{url_for('static',filename='css/default.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/layout.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/media-queries.css')}}>

    <!-- Script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href={{url_for('static',filename='images/EMC.png')}} >

</head>

<body>

<!-- Header
================================================== -->
<header id="top">

    <div class="row">

        <div class="header-content twelve columns">

            <h1 id="logo-text"><a href="index.html" title="">Keep It Simple.</a></h1>
            <p id="intro">Put your awesome slogan here...</p>

        </div>

    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

        <div class="row">

            <ul id="nav" class="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class="has-children"><a href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Submenu 01</a></li>
                        <li><a href="#">Submenu 02</a></li>
                        <li><a href="#">Submenu 03</a></li>
                    </ul>
                </li>
                <li><a href={{ url_for('demo') }}>Demo</a></li>
                <li><a href="archives.html">Archives</a></li>
                <li class="has-children"><a href="single.html">Blog</a>
                    <ul>
                        <li><a href="blog.html">Blog Entries</a></li>
                        <li><a href="single.html">Single Blog</a></li>
                    </ul>
                </li>
                <li><a href="page.html">Page</a></li>
            </ul> <!-- end #nav -->

        </div>

    </nav> <!-- end #nav-wrap -->

</header> <!-- Header End -->



</body>
</div>

<div class="lay">



   <div id="content-wrap">

      <div class="row section-head">

      	<div class="twelve columns">

	         <h1><b>vCenter not starting.</b></h1>

	         <p class="lead add-bottom">	         </p>

         </div>                 

      </div> <!-- Row End-->

      <div class="row add-bottom">

      	<hr> 

         <div class="six columns add-bottom">

            <h3>vCenter not starting due to /storage/log filling up</h3>

            <p>
  			  The vCenter Server Appliance services fail to start.Running df -h on the vCenter Server Appliance shows /storage/log as full.</p>
		  
			   <p>vCenter Server Appliance critical health alert, specifically, ‘The /storage/log filesystem is out of disk space or inodes’. This error is usually due to a failed automated log clean-up process. In this we will discuss couple of steps to address this kind of scenario</p>
			   
			   <h3>screenshot06</h3>
 
<p>Firstly, let’s take a look at the file  system itself in order to confirm our UI findings. SSH onto the VCSA appliance and enter BASH, then list all available file systems via the df -h command. From the below screenshot the UI warning has been confirmed, specifically, the file system in question has been completely consumed.</p>

<h3>screenshot07</h3>

<h3>Temporary Fix<h3>
<p>In the unfortunate event that this issue is preventing you from accessing vCenter, we can implement a quick fix by extending the affected disk. Note, this is a quick fix only and should be implemented to restore vCenter access only. This should not be relied on as a permanent resolution.</p>
<p>As we have already identified the problematic disk, jump over to the vSphere client and extend the disk in question (you call by how much, but in my environment, I’ve added an additional 5 GB). This leaves us the final task of initiating the extension and enabling the VCSA to see the additional space. Depending on your VCSA version, there are two options:</p>

<h3>screenshot08</h3>
<h2>VCSA v6.0</h2>
<i>vpxd_servicecfg storage lvm autogrow</i>
<h2>VCSA v6.5 and v6.7</h2>
<i>/usr/lib/applmgmt/support/scripts/autogrow.sh</i>

<p>Lastly, list all file systems to confirm the extension has been realised.</p>
<h3>Permanent Fix<h3>
<p>So, we’re out of jail, but we still have an offending consumer. In my instance, checking within the file system identified a number of large log files. These hadn’t been cleared automatically by the VCSA so a manual intervention was required. Specifically, the removal of localhost_access_log, vmware-identity-sts, and vmware-identity-sts-perf logs was required. These can be removed via the below command.</p>
<i>rm log-file-name.*</i>
<h3>screenshot09</h3>
<p>Following the removal, another df -h show’s we’re back in business.</p>
<h3>screenshot10</h3>

<p>Lastly, and in this instance, restart the Security Token Service to initiate the creation of new log files.</p>
<i>service vmware-stsd restart</i>



            <p><a href="VMware KB article 2143565,">Ref this link for more details</a>
			
  			  
			 </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="six columns add-bottom">

            <h3>Pull Quotes</h3>

            <aside class="pull-quote">
    			   <blockquote>
    				   <p>It is a paradisematic country, in which roasted parts of
                  sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic life One day however a small line of blind text by the name
                  of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    				</blockquote>
    			</aside>

         </div>

         <div class="six columns add-bottom">

            <h3>Block Quotes</h3>

            <blockquote cite="http://where-i-got-my-info-from.com">
   			   <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
               to do what you believe is great work. And the only way to do great work is to love what you do.
               If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
               </p>
   				<cite>
   				   <a href="#">Steve Jobs</a>
   				</cite>
			   </blockquote>

            <blockquote>
               <p>Good design is as little design as possible.</p>
               <cite>Dieter Rams</cite>
            </blockquote>

         </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="eight columns add-bottom">

            <h3 class="add-bottom">Definition Lists</h3>

            <h5>a) Multi-line Definitions (default)</h5>

            <dl>
			      <dt><strong>This is a term</strong></dt>
				      <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			      <dt><strong>Another Term</strong></dt>
				      <dd>And it gets a definition too, which is this line</dd>
				      <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
		      </dl>

            <h5>b) Inline Definitions</h5>

            <dl class="lining">
			      <dt><strong>This is a term</strong></dt>
				      <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
			      <dt><strong>Another Term</strong></dt>
				      <dd class="micro">And it gets a definition too, which is this line</dd>
				      <dd class="micro"> this is a 2<sup>nd</sup> definition for a single term.</dd>
			      <dt><strong>Term</strong></dt>
			      <dt><strong>Other Defined Term</strong></dt>
				      <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
		      </dl>

            <h5>c) Dictionary-style Definition</h5>

            <dl class="dictionary-style">
				   <dt><strong>This is a term</strong></dt>
					   <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
					<dt><strong>Another Term</strong></dt>
					   <dd>And it gets a definition too, which is this line</dd>
					   <dd> this is a 2<sup>nd</sup> definition for a single term.</dd>
					<dt><strong>Term</strong></dt>
					<dt><strong>Other Defined Term</strong></dt>
					   <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
				</dl>

         </div>

         <div class="four columns add-bottom">

            <h3>Example Lists</h3>

            <ol>
				   <li>Here is an example</li>
				   <li>of an ordered list</li>
			   </ol>

            <ul class="disc">
				   <li>Here is an example</li>
				   <li>of an unordered list</li>
			   </ul>

            <h3>Stats Tabs</h3>

            <ul class="stats-tabs">
			      <li><a href="#">1,234 <em>Sasuke</em></a></li>
			      <li><a href="#">567 <em>Hinata</em></a></li>
			      <li><a href="#">23,456 <em>Naruto</em></a></li>
			      <li><a href="#">3,456 <em>Kiba</em></a></li>
			      <li><a href="#">456 <em>Shikamaru</em></a></li>
			      <li><a href="#">26 <em>Sakura</em></a></li>
		      </ul>

            <h3>Headers</h3>

            <h1>H1 Heading</h1>
            <h2>H2 Heading</h2>
            <h3>H3 Heading</h3>
            <h4>H4 Heading</h4>
            <h5>H5 Heading</h5>
            <h6>H6 Heading</h6>

            <hr>

            <h3>button</h3>

            <a class="button" href="#">button</a>

         </div>

         <hr />

      </div> <!-- Row End-->

      <div class="row add-bottom">

         <div class="twelve columns add-bottom">

            <h3 class="add-bottom">Pagination</h3>

            <nav class="pagination add-bottom">

               <span class="page-numbers prev inactive">Prev</span>
   	         <span class="page-numbers current">1</span>
   	         <a href="#" class="page-numbers">2</a>
               <a href="#" class="page-numbers">3</a>
               <a href="#" class="page-numbers">4</a>
               <a href="#" class="page-numbers">5</a>
               <a href="#" class="page-numbers">6</a>
               <a href="#" class="page-numbers">7</a>
               <a href="#" class="page-numbers">8</a>
               <a href="#" class="page-numbers">9</a>
   	         <a href="#" class="page-numbers next">Next</a>

		      </nav>

         </div>

         <hr />

      </div> <!-- Row End-->

      <!-- <div class="row add-bottom">

         <div class="twelve columns add-bottom">

            <h3>Form Styles</h3>

            <form>
               <fieldset>

					   <label for="regularInput">Regular Input</label>
						<input type="text" id="regularInput">

                  <label for="regularTextarea">Regular Textarea</label>
						<textarea id="regularTextarea"></textarea>

                  <label for="selectList">Select List</label>
						<select id="selectList">
						   <option value="Option 1">Option 1</option>
							<option value="Option 2">Option 2</option>
							<option value="Option 3">Option 3</option>
							<option value="Option 4">Option 4</option>
						</select>

                  <fieldset>
						   <legend>Checkboxes</legend>

                     <label for="regularCheckbox">
							   <input type="checkbox" value="checkbox 1" id="regularCheckbox">
								<span>Regular Checkbox</span>
							</label>

                     <label for="secondRegularCheckbox">
							   <input type="checkbox" value="checkbox 2" id="secondRegularCheckbox">
								<span>Regular Checkbox</span>
							</label>
						</fieldset>

						<fieldset>
						   <legend>Radio Buttons</legend>

                     <label for="regularRadio">
							   <input type="radio" value="radio 1" id="regularRadio" name="radios">
							   <span>Regular Radio</span>
							</label>

                     <label for="secondRegularRadio">
							   <input type="radio" value="radio 2" id="secondRegularRadio" name="radios">
								<span>Regular Radio</span>
							</label>
						</fieldset>

						<button type="submit">Submit Form</button>

               </fieldset>
				</form>

         </div>

         <hr />

      </div> -->    <!-- Row End-->

      <div class="row">

         <div class="twelve columns">
            <h3 class="half-bottom">Columns</h3>
         </div>

      </div> <!-- Row End-->

      <!--<h4>1/3 Columns</h4>  -->

      <div class="row">

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

         <div class="four columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
	      </div>

      </div>

      <!--<h4>1/4 Columns</h4>  -->

      <div class="row">

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Ut dui lectus, ultrices ut, sodales tincidunt,
            viverra sed, nisl. </p>
	      </div>

      </div>

      <!--<h4>1/2 Columns</h4>  -->

      <div class="row">

         <div class="six columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

         <div class="six columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

      </div>

      <!--<h4>2/3 Columns</h4>  -->

      <div class="row">

         <div class="eight columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.</p>
         </div>

         <div class="four columns">
            <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. </p>
         </div>

      </div>

      <!--<h4>3/4 Columns</h4>  -->

      <div class="row">

         <div class="three columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at. </p>
	      </div>

         <div class="nine columns">
		      <p>Cras aliquet. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor. Integer faucibus, eros ac molestie placerat, enim tellus varius lacus,
            nec dictum nunc tortor id urna. Suspendisse dapibus ullamcorper pede. Vivamus ligula ipsum,
            faucibus at, tincidunt eget, porttitor non, dolor.</p>
	      </div>

      </div> 

   </div> <!-- end content-wrap -->


   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row"> 

      	<div class="twelve columns">	
				<ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>               
               <li><a href="#"><i class="fa fa-github-square"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-flickr"></i></a></li>               
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>			
      	</div>
      	
         <div class="six columns info">

            <h3>About Keep It Simple</h3> 

            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
            nibh id elit. 
            </p>

            <p>Lorem ipsum Sed nulla deserunt voluptate elit occaecat culpa cupidatat sit irure sint 
            sint incididunt cupidatat esse in Ut sed commodo tempor consequat culpa fugiat incididunt.</p>

         </div>

         <div class="four columns">

            <h3>Photostream</h3>
            
            <ul class="photostream group">
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
               <li><a href="#"><img alt="thumbnail" src="images/thumb.jpg"></a></li>
            </ul>           

         </div>

         <div class="two columns">
            <h3 class="social">Navigate</h3>

            <ul class="navigate group">
               <li><a href="#">Home</a></li>
               <li><a href="#">Blog</a></li>
               <li><a href="#">Demo</a></li>
               <li><a href="#">Archives</a></li>
               <li><a href="#">About</a></li>
            </ul>
         </div>

         <p class="copyright">&copy; Copyright 2014 Keep It Simple. &nbsp; Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.</p>
        
      </div> <!-- End row -->

      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

   </footer> <!-- End Footer-->


   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>  
   <script src="js/main.js"></script>
</div>
</html>